@import "tailwindcss";

body {
  background-color: #0b0b0b;
}
/* in index.css */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #383839;
  border-radius: 10px;
}

